.footer {
  position: relative;
  width: 100%;
  background-color: var(--card-background);
  padding: 0px 10px;
  text-align: center;
  margin-top: 20px;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  z-index: 100;
  position: relative;

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .footer-section {
    flex: 1;
    max-width: 200px;

    h4 {
      color: var(--primary-color); /* Primary color for section titles */
      font-size: 1.2rem;
      margin-bottom: 10px;
      font-family: var(--font-pixel);

    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 10px 0;
        list-style: none;

        a {
          color: var(--text-color);
          font-weight: 600;
      font-family: Arial, sans-serif;
          text-decoration: none;
          font-size: 0.9rem;
          cursor: pointer;

          &:hover {
            color: var(--primary-color); /* Blue on hover */
            transition: color 0.3s ease;
          }
        }
      }
    }

    p {
      margin: 5px 0;
      font-size: 0.8rem;
      font-family: Arial, sans-serif;
      color: var(--text-color);
    }
  }

  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 1.5rem;

    i {
      font-size: 1.5rem;
    }

    li {
      margin: 0 10px;
      list-style: none;


      a {
        color: var(--primary-color); /* Default icon color */
        font-size: 1.5rem;


        &:hover {
          color: darkgray;
          transition: color 0.3s ease;
        }
      }
    }
  }

  .footer-bottom {
    background-color: rgb(21, 21, 21); /* Background color for the bottom section */
    color: white; /* Text color for the bottom section */
    padding: 5px;
    width: 100%;
    display: flex; /* Set as a flex container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Ensure text is centered */
    position: relative; /* Ensure correct positioning if needed */
    p {
      margin: 0;
      font-size: 12px;
    }
    a{
      font-family: "Tunkstun", "sans-serif";
      text-decoration: none;
      font-size: 16px;
      color: white;
      transition: all 0.2s ease-in-out;
      &:hover{
        color: var(--primary-color)
      }
    }
  }
}
