<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h4>Quick Links</h4>
        <ul>
          <li><a (click)="navigateTo('/About')">About</a></li>
          <li><a (click)="navigateTo('/Contact')">Contact</a></li>
          <li><a (click)="navigateTo('/Guestbook')">Guestbook</a></li>
      </ul>
      </div>
      <div class="footer-section">
        <h4>Follow Us</h4>
        <ul class="social-icons">
          <li><a href="https://www.x.com/w2edax"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/w2edax"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://www.instagram.com/w2edax"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Contact Us</h4>
        <p>Email: info&#64;w2edax.com</p>
        <p>Phone: +966-234567890</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p> Made with 🤍 by <a target="_blank" href="https://tunkstun.web.app">Tunkstun  </a>| &copy; 2024 W²EDAX.</p>
    </div>
  </footer>
