/* General Styles for the Article Page */
* {
  margin: 0;
}

.article-page {
  z-index: 1;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 5px;
  height: auto;
  max-width: 100%;
  margin-left: 0;
  padding-left: 0;

  .article-skeleton {
    width: 100%;
    max-width: 750px;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto; /* Center horizontally */
    gap: 5px;
    display: flex;
    flex-direction: column; /* Stack items vertically by default */
    align-items: center; /* Center align the items */


    .skeleton-header2 {
      width: 90%;
      max-width: 750px;
      border-bottom: 1px solid gray;
      gap: 10px;
      display: flex;
      flex-direction: column; /* Stack items vertically by default */
      align-items: center; /* Center align the items */
      .skeleton-title,
      .skeleton-title2 {
        width: 80%;
        display: block;
        background-color: lightgray;
        margin-bottom: 10px;
        border-radius: 4px;
        height: 40px; /* Ensure height is visible */
      }

      .skeleton-paragraph2 {
        width: 80%;
        display: block;
        margin: 20px;
        border-radius: 4px;
        height: 20px;
        padding-bottom: 20px;
      }
    }



    .skeleton-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      gap: 10px;
      border-bottom: 1px solid gray;
      padding: 3px;

      .skeleton-author {
        height: 20px;
        width: 10%;
        background-color: lightgray;
        border-radius: 4px;
      }
    }

    .skeleton-content {
      width: 100%;
      padding: 10px;

      .skeleton-title3 {
        width: 40%;
        display: block;
        margin: 20px 0;
        border-radius: 4px;
        height: 40px;
      }

      .skeleton-paragraph {
        height: 16px;
        width: 100%;
        background-color: lightgray;
        margin-bottom: 10px;
        border-radius: 4px;
      }
    }
    /* Mobile adjustments */
    @media (max-width: 768px) {
      max-width: 100%; /* Allow full width for mobile screens */
      padding: 15px; /* Less padding for mobile */
      gap: 5px;

      .skeleton-title, .skeleton-paragraph2, .skeleton-title3, .skeleton-title2 {
        width: 100%; /* Full width for mobile */
        height: 30px; /* Adjust height for mobile */
      }

      .skeleton-header {
        display: flex;
        padding: 19px 3px;
        width: 98%;
        align-items: center;

        .skeleton-author {
          width: 40%; /* Take up more width on mobile */
          justify-content: space-between;
        }
      }

      .skeleton-content {
        padding: 5px; /* Less padding for mobile */
      }
    }
  }
  /* Related Articles Skeleton Loader */
  .related-articles-skeleton {
    width:19rem;
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      height: 30px;
      width: 40%;
      background-color: #e0e0e0;
      margin-bottom: 5px;
      border-radius: 4px; /* Added border-radius */
      margin-top: 25px;
    }

    .related-article-card {
      height: 20px;
      margin-top: 27px;
      width: 100%;
      margin-bottom: 10px;
      border-radius: 4px; /* Added border-radius */
    }
  }
  /* Article Detail Section */
  .article-detail {
    min-height: 1600px;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
    text-align: justify-all;

    .auth-date-container {
font-family: var(--font-secondary);
      font-weight: 400;
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px groove gray;
      margin: 0;
      padding: 5px;
      align-items: center;
      min-height: 20px;
    }

    h1 {
      margin-top: 16px;
      font-family: var(--font-pixel);
      font-size: calc(24px + 1vw);
      font-weight: 400;
      color: var(--primary-color);
      transition: opacity 0.3s ease-in-out;
      margin-bottom: 10px;
      text-align: center;
    }
    p{
      font-size: calc(8px + 0.5vw);
    }

    .desc {
      padding: 20px 0;
      font-size: 0.9rem;
      color: var(--text-color);
      border-bottom: 1px groove darkgray;
      margin: 20px;
font-family: var(--font-secondary);
      font-weight: 400;
      font-style: italic;
      transition: opacity 0.3s ease-in-out;
      text-align: center;
    }

    div {
      font-size: 1rem;
      color: var(--text-color);
      line-height: 1.6;
    }

    .media-files {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;

      img {
        max-width: 100%;
        border-radius: 8px;
        object-fit: cover;
        opacity: 0;
        transition: opacity 0.3s ease-in;
      }
    }
  }
  /* Error Message */
  .error-message {
    color: red;
    font-family: var(--font-pixel);
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid red;
    border-radius: 4px;
    background-color: #f8d7da;
  }
}

/* Skeleton Loader Animation */
@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.article-skeleton,
.related-articles-skeleton {
  .skeleton-title, .skeleton-title2, .skeleton-author, .skeleton-paragraph, .skeleton-title3, .skeleton-paragraph2, .related-article-card {
    background: linear-gradient(to right, darkgrey 8%, lightgray 18%, darkgrey 33%);
    width: auto;
    height: 100px;
    animation: shimmer 1.5s infinite linear;
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {


  .article-page {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;

    .article-detail {
      width: 100%;
    }
  }

  .container-low {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
  }
}

.container-low {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/* Related Articles Section */
.related-articles-container {
  width: 100%;
  font-size: calc(8px + 1vw);
}

.related-articles-section {
  border-radius: 8px;
  padding: 20px; // Added padding for better spacing

  h3 {
    font-family: var(--font-pixel);
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center; // Center-align heading for better appearance
  }
}

.related-article-cards {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.related-article-card {
  border-radius: 4px;
  color: var(--text-color); // Default text color
  transition: color 0.3s ease-in-out; // Transition for color changes
  padding: 2px;
  cursor: pointer; // Add a pointer cursor for better UX

  // Change color of the entire card on hover
  &:hover {
    color: var(--primary-color); // Change the overall text color on card hover
    font-weight: 600;
  }

  p {
    margin: 0; // Ensure paragraph has no margin
    transition: color 0.3s ease-in-out; // Smooth transition for paragraph text color
  }

  h4 {
    font-family: var(--font-secondary);
    font-size: 0.9rem;
    color: var(--text-color);
    margin: 0;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .related-articles-section {
    padding: 15px; // Reduced padding for smaller screens
    text-align: center;
  }

  h3 {
    font-size: 1.2rem; // Decrease font size for smaller screens
  }

  .related-article-card {
    padding: 8px; // Reduced padding for smaller cards
    h4 {
      font-size: 0.8rem; // Decrease font size for article titles
    }
  }
  .related-articles-skeleton {
    width: 200px;
    display: block;
    flex-direction: column;
    margin: 0;
    padding: 0;

    .related-article-card {
      margin: 0;
      width: 50%;
      display: flex;
      min-width: 80%;
    }
  }
}

@media (max-width: 576px) {
  .related-articles-section {
    padding: 10px; // Further reduce padding for very small screens
  }

  h3 {
    font-size: 1rem; // Further decrease font size
  }

  .related-article-card {
    padding: 5px; // Minimal padding for very small screens
    h4 {
      font-size: 0.7rem; // Further decrease font size
    }
  }
}


/* Styling for the Tags Container */
.tags-container {
  color: var(--text-color-oppo);
  font-weight: 500;
  padding: 20px;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  margin: 10px 0;
  width: 100%;
}

.tags-container h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.tags-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: var(--primary-color);
  color: var(--text-color-oppo);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.9rem;
  display: inline-block;
  text-align: center;
  font-family: var(--font-secondary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Existing styles for subscribe-form and social-links */
.subscribe-form {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;

  h3 {
    font-size: 1.2rem;
    gap: 5px;
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #fff;
      margin-bottom: 10px;
    }

    button {
      padding: 5px;
      background-color: var(--primary-color);
      color: var(--text-color-oppo);
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;

      &:hover {
        background-color: var(--primary-color-oppo);
      }
    }
  }
}

/* Responsive adjustments for mobile view */
@media (max-width: 768px) {
  .auth-date-container{
    p{
      font-size: calc(10px + 1vw);
    }
  }
  .container-low {
    flex-direction: column;
    gap: 10px;

    h4 {
      font-size: 16px;
      margin-bottom: 3px;
      text-align: start;
    }

    h3 {
      font-size: 1.8rem;
      color: var(--primary-color);
      margin-bottom: 10px;
      text-align: center;
    }

    .left-container,
    .right-container {
      width: 100%;
      border: none;
    }
  }
}
