.book-container {
  padding: 5px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px; /* Limit the max width for larger screens */
  margin: auto; /* Center the container */
  .heading{
    text-align: center;
        font-family: var(--font-pixel);
        color: var(--primary-color);
        font-size: 2rem;
        margin: 10px 0; /* Margin for better spacing */
  }

  .featured-book {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: var(--tertiary-background-color); /* Optional background for featured section */
    border-radius: 8px;

    @media(min-width: 768px) {
      flex-direction: row; /* Horizontal layout for larger screens */

    }

    .left-container {
      flex: 1;
      text-align: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;

      .book-image {
        width: 200px;
        height: auto;
        margin-bottom: 10px;
        border: 1px solid var(--primary-color);
        border-radius: 4px; /* Rounded corners for images */
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); /* Shadow for images */
      }
      .book-meta-data{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 10px;
        background-color: var(--message-back);
      }

      h3 {
        font-family: var(--font-pixel);
        color: var(--primary-color);
        font-size: 1.5rem;
        margin: 10px 0; /* Margin for better spacing */
      }

      p {
        color: var(--text-color);
        font-size: 0.9rem; /* Slightly increase font size */
      }
    }

    .right-container {
      flex: 1;
      padding: 20px;
      background-color: var(--secondary-background-color);
      h3 {
        color: var(--primary-color);
        margin-bottom: 10px;
        font-family: var(--font-pixel);

      }

      p {
        color: var(--text-color);
        text-align: justify;
        line-height: 1.5;
        margin-bottom: 10px;
        font-size: 0.9rem; /* Increase font size for readability */
      }

    }

  }
  @media(max-width: 768) {
    .right-container{
      border-left: none;
      border-top: 3px double var(--primary-color);
    }
  }

  .book-list {

    h2 {
      font-family: var(--font-pixel);
      color: var(--primary-color);
      margin-bottom: 15px;
      font-size: 1.5rem; /* Increased font size for better visibility */
    }

    .books-grid {
      padding: 10px;
      scroll-behavior: smooth;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 20px;
      max-height: 400px;
      overflow-y: auto; /* Make the grid scrollable */
    }
    .books-grid::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    background-blend-mode: soft-light;
  }

    .books-grid::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); /* Color of the scrollbar handle */
    border-radius: 1px; /* Rounded scrollbar */

  }

    .books-grid::-webkit-scrollbar-track {
    background: var(--background-color); /* Scrollbar background */
  }

    .book-item {
      cursor: pointer;
      border: 1px solid var(--primary-color);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
      text-align: center;
      background-color: var(--secondary-background-color); /* Background for book items */
      border-radius: 8px; /* Rounded corners for book items */
      padding: 10px;
      transition: transform 0.2s; /* Smooth transition for hover effect */

      &:hover {
        transform: translateY(-5px); /* Lift effect on hover */
      }

      .book-thumbnail {
        width: 100px;
        height: auto;
        margin-bottom: 10px;
        border-radius: 4px; /* Rounded corners for thumbnails */
      }

      h3 {
        font-size: 1rem;
        color: var(--primary-color);
        margin: 5px 0; /* Margin for spacing */
        font-family: var(--font-pixel);

      }

      p {
        color: var(--text-color);
        font-size: 0.9rem;
      }
    }
    .selected {
      background-color: var(--primary-color); // Example color for selected item
      border-color: var(--text-color-oppo); // Darker border when selected
      transform:scale(1.05);

      transition: transform, color, background-color, border-color, 0.2s ease-in-out;
      h3{
        color: var(--text-color-oppo);
        font-weight: 600;
      }
      p{
        color: var(--text-color-oppo);
        font-weight: 600;
      }
      img{
        border:2px groove var(--background-color);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

      }
      &hover{
        transform:scale(1.05)
      }
    }
  }
}
