<section class="about">
  <div class="about-content">
    <div class="diagonal-grid-container">
      <div class="left-section">
        <!-- Introduction -->
        <div class="intro">
          <h2>About Us</h2>
          <p>
            Welcome to W_EDAX, where we blend the art of ethical hacking with the passion of a student's curiosity.
            We're on a mission to demystify cybersecurity through insightful blogs and research. Our goal is to equip
            you with knowledge to stay ahead of potential threats and navigate the digital landscape confidently.
        </p>
      </div>

      <!-- Mission -->
      <div class="mission">
        <h2>Our Mission</h2>
        <p>
          At W_EDAX, we lead the charge in ethical hacking and cybersecurity awareness. Our mission is to provide
          valuable information that helps people worldwide protect themselves from cyber threats, building a global
          community dedicated to safeguarding the digital world.
        </p>
      </div>
    </div>

    <div class="right-section">
      <!-- Our Story -->
      <div class="history">
        <h2>Our Story</h2>
        <p>
          Our journey began when Yahya, the founder, experienced his own personal account breaches. After recovering
          and understanding how these breaches occurred, Yahya decided to share his knowledge through W_EDAX—a blog
          dedicated to cybersecurity, vulnerabilities, and solutions.
        </p>
      </div>
    </div>
  </div>
</div>

  <div class="meet-author">
    <h2>Meet the Author</h2>
    <div class="team-member">
      <div class="image-container">
        <img src="assets/Anim.gif" alt="Author" class="Image">
      </div>
      <h3>Yahya</h3>
      <p>
        Yahya is an ethical hacker and cybersecurity enthusiast. His background in DevOps, networking, and cloud computing
        led him to start W_EDAX. With a deep passion for understanding digital vulnerabilities, Yahya shares insights that
        help others secure their digital lives.
      </p>
      <div class="container-socials">
        <div class="icons">
          <a href="https://signal.org" target="_blank"><i class="fa-brands fa-signal-messenger signal"></i></a>
          <a href="https://www.instagram.com/solo_perfecto24" target="_blank"><i class="fa-brands fa-square-instagram instagram"></i></a>
          <a href="https://www.linkedin.com/in/ykinw24" target="_blank"><i class="fab fa-linkedin-in linkedin"></i></a>
          <a href="https://tunkstun.web.app"><i class="link fa-sharp-duotone fa-solid fa-link"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
