<section class="about">
  <div class="about-content">
    <div class="about-designer-container">
      <div class="wavy-grid-container">
        <ng-container *ngFor="let _ of [].constructor(30); let i = index">
          <div></div>
        </ng-container>
      </div>
    </div>

    <div class="left-section">
      <!-- Welcome Section -->
      <div class="intro">
        <h2>{{ content.About.Welcome.headline }}</h2>
        <ng-container *ngFor="let paragraph of content.About.Welcome.paragraphs">
          <p>{{ paragraph }}</p>
        </ng-container>
      </div>

      <!-- Mission Section -->
      <div class="mission">
        <h2>{{ content.About.Mission.headline }}</h2>
        <ng-container *ngFor="let paragraph of content.About.Mission.paragraphs">
          <p>{{ paragraph }}</p>
        </ng-container>
      </div>
    </div>

    <div class="right-section">
      <!-- Story Section -->
      <div class="history">
        <h2>{{ content.About.Story.headline }}</h2>
        <ng-container *ngFor="let paragraph of content.About.Story.paragraphs">
          <p>{{ paragraph }}</p>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="meet-author">
    <div class="team-member">
      <div class="image-container">
        <div class="container" (mouseenter)="flipImage()" (mouseleave)="resetImage()">
          <div class="image" #image>
            <div class="image-face front">
              <img src="https://firebasestorage.googleapis.com/v0/b/w-edax-b.appspot.com/o/Assets%2Fyahya-pix.png?alt=media&token=e68ab68b-9b06-4a23-a741-4713b18cf216" alt="image" />
            </div>
            <div class="image-face back">
              <div class="social-media">
                <a href="https://signal.me/#eu/k3smQcH4yPOkWWetuk03BfBYXmgDZNo-Rr1Sq45CwIXb1sJ4cqtMGLyGf2vpKbM8" target="_blank" rel="noopener noreferrer">
                  <img src="https://firebasestorage.googleapis.com/v0/b/w-edax-b.appspot.com/o/Assets%2Fsignal.png?alt=media&token=df42d786-63a3-49af-b49a-1fd6238275bd" alt="Profile Picture" />
                  <span>Signal</span>
                  <p>Let's network!</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content-container">
        <h3>Yahya</h3>
        <ng-container *ngFor="let paragraph of content.About.Author.paragraphs">
          <p>{{ paragraph }}</p>
        </ng-container>
      </div>
    </div>
  </div>
</section>
