<section class="about">
  <div class="pattern-container">
    <div class="pattern-item"></div>
    <div class="pattern-item"></div>
    <div class="pattern-item"></div>
    <!-- Repeat pattern items as needed -->
  </div>
  <div class="about-content">
    <div class="left-section">
      <!-- Welcome Section -->
      <div class="intro">
        <h2>{{ content.About.Welcome.headline }}</h2>
        <ng-container
          *ngFor="let paragraph of content.About.Welcome.paragraphs"
        >
          <p>{{ paragraph }}</p>
        </ng-container>
      </div>

      <!-- Mission Section -->
      <div class="mission">
        <h2>{{ content.About.Mission.headline }}</h2>
        <ng-container
          *ngFor="let paragraph of content.About.Mission.paragraphs"
        >
          <p>{{ paragraph }}</p>
        </ng-container>
      </div>
    </div>

    <div class="right-section">
      <!-- Story Section -->
      <div class="history">
        <h2>{{ content.About.Story.headline }}</h2>
        <ng-container *ngFor="let paragraph of content.About.Story.paragraphs">
          <p>{{ paragraph }}</p>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Meet the Authors Section -->
  <div class="meet-authors">
    <h2>Authors</h2>
    <div class="authors-grid">
      <div class="team-member" *ngFor="let author of authors">
        <div class="image-container">
          <div class="container">
            <div class="image">
              <img
                [src]="author.image || '../assets/yahya__.png'"
                alt="{{ author.name || 'Author Image Placeholder' }}"
              />
            </div>
          </div>
        </div>

        <div class="content-container">
          <h3>{{ author.name || "Author Name Placeholder" }}</h3>
          <ng-container
            *ngFor="
              let paragraph of author.description || [
                'No description available.'
              ]
            "
          >
            <p>{{ paragraph }}</p>
            <div class="social-links">
              <a href="https://tunkstun.web.app" alt="portfolio website">
                <i class="fa-solid fa-link"></i>
              </a>
              <a *ngFor="let social of author.socials" [href]="social.url" target="_blank">
                <fa-icon *ngIf="social.platform === 'LinkedIn'" [icon]="faLinkedin"></fa-icon>
                <fa-icon *ngIf="social.platform === 'GitHub'" [icon]="faGithub"></fa-icon>
                <fa-icon *ngIf="social.platform === 'Twitter'" [icon]="faTwitter"></fa-icon>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
