<div class="contact-page">
    <div class="form-section">
        <h2>Contact Us</h2>
        <form>

            <input type="text" id="name" name="name" placeholder="Name" required>


            <input type="email" id="email" name="email" required placeholder="Enter your Email">


            <textarea id="message" name="message" required placeholder="Your Message"></textarea>

            <button type="submit">Send Message</button>
        </form>
    </div>

    <div class="social-section">
        <h2>Follow Us</h2>
        <ul class="social-links">
            <li class="FA">
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="X">
                <a href="https://x.com" target="_blank">
                    <i class="fa-brands fa-square-x-twitter"></i>
                </a>
            </li>
            <li class="LI">
                <a href="https://www.linkedin.com" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li class="SI">
                <a href="https://signal.org" target="_blank">
                    <i class="fa-brands fa-signal-messenger"></i>
                </a>
            </li>
        </ul>

    </div>
</div>