<div class="contact-page">
  <div class="quote-section">
    <img [src]="currentQuote.pic" [ngClass]="{ 'fade-out': fadeOut, 'fade-in': fadeIn }" alt="Quote Image" />
    <h1 [ngClass]="{ 'fade-out': fadeOut, 'fade-in': fadeIn }">{{ currentQuote.text }}</h1>
    <p [ngClass]="{ 'fade-out': fadeOut, 'fade-in': fadeIn }">- {{ currentQuote.author }}</p>
  </div>


  <div class="form-section">
    <h2>Get in touch</h2>
    <form>
      <input type="text" id="name" name="name" placeholder="Name" required>
      <input type="email" id="email" name="email" required placeholder="Enter your Email">
      <textarea id="message" name="message" required placeholder="Your Message"></textarea>
      <button type="submit">Send Message</button>
    </form>
  </div>
</div>
