<div class="contact-page">
  <div class="quote-section" *ngIf="currentQuote">
    <img [src]="currentQuote.pic" alt="{{currentQuote.author}}" />
    <h1>{{ currentQuote.text }}</h1>
    <p>- {{ currentQuote.author }}</p>
  </div>
  <div class="form-section">
    <h2>Contact Us</h2>
    <form>
      <input type="text" id="name" name="name" placeholder="Name" required>
      <input type="email" id="email" name="email" required placeholder="Enter your Email">
      <textarea id="message" name="message" required placeholder="Your Message"></textarea>
      <button type="submit">Send Message</button>
    </form>
  </div>
</div>
