// Existing navbar styles
.navbar-top {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-items: start;
    justify-content: space-between;

}

.navbar-brand {
    text-transform: uppercase;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-optical-sizing: 36px;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 48px;
    text-decoration: none;
    transition: color 0.2s ease, letter-spacing 0.2s ease-in-out; // Smooth color transition
}

.navbar-top .navbar-brand:hover {
    color: var(--primary-color); // Use primary color on hover
    letter-spacing: 5px;
}

/* Add this to your navbar.component.scss or a global stylesheet */

.navbar-text {
    position: relative;
    display: inline-flex;
    font-family: 'Courier New', monospace;
    margin-bottom: 2px;
    padding: 1px;
    color: var(--primary-text-color);
    width: auto; /* Use auto width for better text and blinker management */
}

.navbar-text::after {
    content: '_';
    position: absolute;
    left: 100%; /* Positioned right after the text */
    margin-left: 2px; /* Small margin for better spacing */
    animation: blink 0.5s steps(1) infinite; /* Use steps to manage opacity changes */
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}


.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;

}


.navbar-top .nav-link i {
    font-size: 24px;
    margin-right: 5px;
}

.navbar-top .nav-link:hover {
    color: var(--primary-color);
    /* Use primary color on hover */
}

.navbar-top .nav-link:hover i {
    color: var(--primary-color);
    /* Use primary color on hover for icons */
}

.navbar-top .navbar-center {
    width: 100%;
    z-index: 1;
}

@media (max-width: 991px) {
    .navbar-top .navbar-brand {
        font-optical-sizing: 26px;
        display: flex;
        justify-content: start;
        width: 100%;
    }

    .navbar-top .navbar-text {
        font-size: 12px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .navbar-top .navbar-nav {
        text-align: right;
    }

    .navbar-top .nav-item {
        margin-bottom: 5px;
    }

    .navbar-top .nav-link {
        padding: 0 20px;

    }

    .navbar-top .toggler {
        display: block;
        /* Ensure toggler is visible */
        font-size: 16px;
        background-color: inherit;
        color: var(--text-color);
        border: none;
        cursor: pointer;
        transition: background-color 0.2s ease, color 0.2s ease-in-out;
    }
}

// Styles for navbar-bottom
/* Navbar bottom styles */
.navbar-bottom {
    background-color: var(--background-color);
    padding: 5px 10px;
    border-top: 1px solid var(--border-color); // Use border color variable
    border-bottom: 1px solid var(--border-color); // Use border color variable
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    /* Center the entire navbar content */
    align-items: center;
    text-align: center;
    transition: background-color 0.2s ease, transform 0.3s ease, opacity 0.3s ease;

    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
        /* Create space between links */
        width: 100%;
        max-width: 600px;
        /* Optional: Limit the width of the links container */
    }

    .nav-item {
        flex-grow: 1;
        text-align: center;
    }

    .nav-link {
        font-family: "Pixelify Sans", sans-serif;
        font-size: 20px;
        font-weight: 400;
        padding: 5px;
        transition: color 0.2s ease, letter-spacing 0.2s ease-in-out;
    }

    .nav-link:hover {
        color: var(--primary-color); // Use primary color on hover
        letter-spacing: 2px;
    }

    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1020;
        /* Make sure it's above other content */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        /* Optional shadow for depth */
        animation: slideDown 0.3s ease forwards;
    }

    &.hidden {
        transform: translateY(-100%);
        opacity: 0;
    }

    #navbarBottomLinks {
        justify-content: space-around;
        display: flex;
        width: 100%;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.toggler {
    background-color: inherit;
    display: flex;
    color: var(--text-color);
    /* Use text color variable */
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    transition: background-color 0.2s ease, color 0.2s ease-in-out;
}

.toggler:hover {
    color: var(--primary-color);
}

.typewriter-text {
    width: auto;
    display: flex;
}

#navbarLinks {
    display: flex;
    justify-content: center;
    align-items: center;

}
