// Existing navbar styles
.navbar-top {
  padding: 0 30px;
  display: flex;
  justify-items: start;
  justify-content: space-between;
  padding-bottom: 12px;
}
.container-fluid {
  padding: 0;
  margin: 0;
}

.navbar-brand {
  text-transform: uppercase;
  font-family: var(--font-pixel);
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--primary-color); // Use primary color on hover
  display: flex;
  display: flex;
  margin: 0;

  font-size: 2.2rem;
  text-decoration: none;
  transition: color 0.2s ease, letter-spacing 0.1s ease-in; // Smooth color transition
}

.navbar-top .navbar-brand:hover {
  color: var(--text-color); // Use primary color on hover
  letter-spacing: 0px;
}

/* Add this to your navbar.component.scss or a global stylesheet */

.navbar-text {
  position: relative;
  display: inline-flex;
  font-family: "Courier New", monospace;
  font-size: 0.7rem;
  color: var(--primary-text-color);
  width: auto; /* Ensure width is auto for dynamic text */
  z-index: 100;
  margin: 0;
  align-items: center;
  padding: 0;
}
#navbarLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Blinking cursor effect */
.navbar-text::after {
  content: "_";
  position: absolute;
  color: var(--text-color);
  margin-left: 1px;
  left: 100%; /* Positioned at the end of the text */
  animation: blink 0.5s steps(1) infinite; /* Blinking effect */
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar-top .nav-link {
  width: 100%;
}
.navbar-top .nav-link i {
  font-size: 26px;
  margin-right: 3px;
}

.navbar-top .nav-link:hover {
  color: var(--primary-color);
  /* Use primary color on hover */
}

.navbar-top .nav-link:hover i {
  color: var(--primary-color);
  /* Use primary color on hover for icons */
}

.navbar-top .navbar-center {
  width: 100%;
  z-index: 1;
}

@media (max-width: 991px) {
  .navbar-top {
    width: 100%;
    padding-bottom: 12px;
  }
  .navbar-top .navbar-brand {
    font-size: 26px;
    display: flex;
    justify-content: start;
    width: auto;
  }

  .navbar-top .navbar-text {
    font-size: 10px; /* Adjust text size for mobile */
    display: inline-flex; /* Inline-flex ensures the text flows naturally */
    justify-content: flex-end; /* Align text to the start */
    width: auto; /* Ensure text wraps properly */
    white-space: nowrap; /* Prevent the text from wrapping */
  }

  .navbar-top .navbar-nav {
    text-align: right;
  }

  .navbar-top .nav-item {
    margin-bottom: 5px;
  }

  .navbar-top .toggler {
    display: block;
    /* Ensure toggler is visible */
    font-size: 20px;
    background-color: inherit;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease-in-out;
    width: 10px;
  }
}

// Styles for navbar-bottom
/* Navbar bottom styles */
.navbar-bottom {
  background-color: var(--background-color);
  width: 100%;
  z-index: 100;
  padding: 10px 20px;
  display: flex;
  /* Center the entire navbar content */
  align-items: center;
  text-align: center;
  transition: background-color 0.2s ease, transform 0.3s ease, opacity 0.3s ease;
  left: 0;
  li {
    list-style: none;
  }

  .navbar-nav {
    flex-direction: row;
    /* Create space between links */
    justify-content: space-around;
    width: 70%;
    border-radius: 10px;
  }

  .nav-item {
    flex-grow: 1;
    text-align: center;
  }

  .nav-link {
    font-family: var(--font-pixel);
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    transition: color 0.2s ease;
    white-space: pre;
  }
  #home-item {
    border-radius: 50%;
    color: var(--text-color);
  }
  .nav-link:hover {
    color: var(--primary-color); // Use primary color on hover
    text-decoration: wavy;
  }

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 120;
    /* Make sure it's above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Optional shadow for depth */
    animation: slideDown 0.3s ease forwards;
  }
  .selected {
    position: relative; /* Required for positioning the pseudo-element */
    color: var(--primary-color);
    border-color: var(--text-color-oppo);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out,
      background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

    /* Style for the heading inside the selected class */
    h3 {
      color: var(--text-color-oppo);
      font-weight: 600;
    }
  }

  .selected::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: transparent;
    border-bottom: 2px solid var(--primary-color);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  .selected:hover::after,
  .selected:focus::after {
    transform: scaleX(1);
  }
  .selected.selected::after {
    transform: scaleX(1);
  }

  &.hidden {
    transform: translateY(-100%);
    opacity: 0;
  }

  #navbarBottomLinks {
    align-items: center;
    justify-content: space-evenly;

    display: flex;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.toggler {
  background-color: inherit;
  display: flex;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  transition: background-color 0.2s ease, color 0.2s ease-in-out;
}

.toggler:hover {
  color: var(--primary-color);
}

.typewriter-text {
  width: auto;
  display: flex;
}

@media (max-width: 768px) {
  .navbar-bottom .nav-link {
    font-size: calc(8px + 1vw);
    padding: 10px 0;
  }
  .navbar-nav {
    gap: calc(3px + 1vw);
  }
  #navbarLinks {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Dropdown Menu (for mobile) */
  #navbarBottomLinks {
    display: none;
    position: absolute;
    z-index: 100;
    flex-direction: column;
    width: auto;
    width: 200px;
    background-color: var(--background-color);
  }

  .show #navbarBottomLinks {
    display: flex;
    border: 1px solid var(--primary-color);
  }

  /* For Mobile Screens */
  @media (max-width: 768px) {
    .navbar-bottom .navbar-nav {
      display: none;
      flex-direction: column;
    }

    .navbar-bottom .show .navbar-nav {
      display: flex;
    }

    .show #navbarBottomLinks {
      display: flex;
      border: 1px solid var(--primary-color);
    }

    .navbar-nav {
      gap: 5px;
    }
    .nav-link{
      padding: 0;
    }

    .navbar-toggler {
      display: block;
    }
  }

  .container-fluid{
    display: flex;
    justify-content: end;
    font-size: 28px;
    padding: 10px;
    &:nth-child:hover{
      a{
        color: var(--primary-color);
      }
    }
  }
}
