/* styles.scss */

/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');  // Popular sans-serif font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap'); // Another popular sans-serif font
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); // Pixel font





/* Defining font variables */
:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-pixel: 'Pixelify Sans', sans-serif;
}
h2, h3{
  font-family: var(--font-pixel);
  font-size: 26px;
  font-weight: 400;
  color: var(--primary-color-oppo);
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary); // Apply primary font
  transition: background-color 0.2s, color 0.2s;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}
.light-theme {
  --background-color: #d9d5d5;
  --text-color: #2c2c2c;
  --text-color-oppo: #dff6ff;
  --background-color-oppo: #272727;
  --primary-color: #41aa00;
  --primary-color-oppo: #5aeb00;
  --border-color: #ccc; /* Light theme border color */
  --background-color-1: rgb(69, 92, 96);
  --hover: #16a500;
  --text-color-oppo: #dff6ff;
  --message-back: hsl(144, 100%, 79%);
  --card-background: #b0eb8a;
  --data-red: #ab0000;
  --data-blue: #0029b6;
  --dark-d: #08160b;
}

.dark-theme {
  --background-color: #1e1e1e;
  --background-color-oppo: #d8d8d8;
  --text-color-oppo: #dff6ff;
  --text-color: #ffffff;
  --primary-color: #59e900;
  --primary-color-oppo: #41aa00;
  --border-color: #555; /* Dark theme border color */
  --background-color-1: rgb(117, 160, 167);
  --hover: rgb(22, 168, 0);
  --text-color-oppo: #272727;
  --message-back: hwb(144 18% 69%);
  --card-background: #374b2b;
  --data-red: #ff7474;
  --data-blue: #7393ff;
  --dark-d: #08160b;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary); // Use secondary font for headings
}

.code, pre {
  font-family: var(--font-pixel); // Use pixel font for code elements
}
