/* home.component.scss */

* {
  box-sizing: border-box;
}

/* Apply transition to specific properties */
.home-page,
.article-card,
.hot-articles-container,
.topic-articles-section,
.banner {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Home Page Styles */
.home-page {
  background-size: cover;
  display: flex;
  padding: 20px;
  margin: 0 auto;
  max-width: 1400px;
  opacity: 0; // Start with hidden opacity
  transform: translateY(20px); // Start with a bit of offset
  margin-bottom: 40px;

  &.loaded {
    opacity: 1;
    transform: translateY(0); // Smoothly animate to final position
  }
}

.left-section {
  flex: 1;
  padding: 20px;

  h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 15px;
    font-family: "Pixelify Sans", sans-serif;
  }

  .article-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(200px, auto)); /* Ensure responsive row height */
    gap: 16px;

    a {
      text-decoration: none;
    }

    .big-article-card {
      grid-column: span 2; /* Span across 2 columns */
      grid-row: span 2; /* Span across 2 rows */
      display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      background-color: var(--card-background);
      transition: transform 0.3s, box-shadow 0.3s; /* Add hover effect */

      &:hover {
        transform: translateY(-5px); /* Lift effect on hover */
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Shadow on hover */
      }

      .big-card-content {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .big-article-image {
          width: 100%;
          height: auto;
          border-radius: 8px; /* Round image corners */
        }

        h3 {
          margin-top: 10px;
          font-size: 1.4rem; /* Increase font size */
          text-align: center; /* Center text */
          color: var(--primary-color);
        }

        p {
          margin-top: 5px;
          font-size: 1rem;
          color: var(--text-color);
          text-align: center; /* Center text */
        }
      }
    }

    .small-article-card {
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      background-color: var(--card-background);
      transition: transform 0.3s, box-shadow 0.3s; /* Add hover effect */

      &:hover {
        transform: translateY(-5px); /* Lift effect on hover */
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Shadow on hover */
      }

      .small-card-content {
        padding: 10px;

        h3 {
          font-size: 1.2rem; /* Increase font size for consistency */
          color: var(--primary-color);
        }

        p {
          font-size: 0.9rem;
          color: var(--text-color);
        }
      }
    }
  }
}

.right-section {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  background-color: var(--primary-color-oppo);
  border-radius: 8px;
  border-left: 5px solid var(--primary-color);
  padding: 20px;
  margin-top: 20px;
  text-align: center;

  h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 15px;
    font-family: "Pixelify Sans", sans-serif;
  }
}

.article-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
}

.article-card {
  flex: 1 1 calc(50% - 16px);
  background-color: var(--card-background);
  border-bottom: 3px groove lightgray;
  border-right: 2px groove lightgray;
  border-radius: 8px;
  padding: 20px;
  font-size: 14px;
  text-decoration: none;
  color: var(--text-color);
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    transform: scale(.9999); // Slightly scale up for a smooth effect
    border: 1px solid var(--background-color);
  }

  h3 {
    font-size: 20px;
  }
}

/* Top Articles Container */
.hot-articles-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
}

/* Banner Section */
.banner {
  background: url('https://images.unsplash.com/photo-1568027762272-e4da8b386fe9?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8aGFja2VyfGVufDB8fDB8fHww') no-repeat center center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .banner-content {
    background: rgba(66, 66, 66, 0.5);
    backdrop-filter: blur(5px); // Translucent overlay
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    h2 {
      font-size: 2.2rem;
      color: var(--primary-color);
      margin-bottom: 10px;
      font-family: "Pixelify Sans", sans-serif;
    }

    p {
      font-size: 1rem;
      color: white;
      margin-bottom: 15px;
    }

    .banner-form {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-size: 1.2rem;
        color: var(--primary-color);
        margin-bottom: 10px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        input {
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #ddd;
        }

        button {
          background-color: var(--primary-color);
          color: var(--text-color);
          border: none;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: var(--hover);
          }
        }
      }
    }
  }
}

/* Topic Articles Section */
.topic-articles-section {
  background-color: var(--background-color); // Use theme background color
  padding: 40px 20px;

  .topic-articles-header {
    margin-bottom: 30px;
    text-align: center;

    .section-title {
      font-size: 2.5rem;
      color: var(--primary-color); // Use theme text color
      margin-bottom: 10px;
      font-family: "Pixelify Sans", sans-serif;
      font-weight: 400;
    }

    .section-description {
      font-size: 1.2rem;
      color: var(--text-color); // Use theme text color
      max-width: 800px;
      margin: 0 auto;
    }
  }

  .topic-articles-content {
    text-align: center;

    .main-heading {
      font-size: 2rem;
      color: var(--primary-color); // Use theme text color
      margin-bottom: 10px;
    }

    .main-description {
      font-size: 1.1rem;
      color: var(--text-color); // Use theme text color
      line-height: 1.6;
    }
  }

  .topic-articles-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: auto;

    .card {
      background: var(--background-color); // Use theme background color
      border-radius: 8px;
      border-bottom: 3px groove lightgray;
      border-right: 2px groove lightgray;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: auto;
      max-width: 300px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;

      .card-title {
        font-size: 1.5rem;
        color: var(--primary-color); // Use theme text color
        margin-bottom: 10px;
      }

      .card-description {
        font-size: 1rem;
        color: var(--text-color); // Use theme text color
        margin-bottom: 20px;
      }

      .card-button {
        background-color: var(--primary-color);
        color: var(--text-color);
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1rem;
        transition: background-color 0.3s;
        margin-top: auto; // Push button to the bottom of the card
        cursor: pointer;

        &:hover {
          background-color: var(--hover); // Use hover color
        }
      }

      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
        transform: scale(.9999); // Slightly scale up for a smooth effect
        border: 1px solid var(--background-color);
      }
    }
  }
}

@media (max-width: 991px) {
  .article-card {
    flex: 0 1 calc(50% - 16px);
  }

  h3, h2 {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .article-card {
    flex: 0 1 100%;
    max-width: 100%;
  }

  .home-page {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    max-width: 100%;
    padding: 16px;
  }

  .right-section {
    border-left: none;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .topic-articles-cards .card {
    width: 100%;
    display: flex;
  }

  .topic-articles-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
/* Add these styles to your existing home.component.scss file */

/* Skeleton Loader Styles */
.skeleton {
  background: #f0f0f0;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: shimmer 1.5s infinite;
  background: linear-gradient( 90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100% );
  transform: translateX(-100%);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-image {
  width: 100%;
  height: 200px;
  background-color: #e0e0e0;
}

.skeleton-title {
  height: 24px;
  width: 60%;
  margin-bottom: 10px;
  background-color: #e0e0e0;
}

.skeleton-text {
  height: 16px;
  width: 100%;
  margin-bottom: 8px;
  background-color: #e0e0e0;
}

/* Add any additional styles specific to your layout */
