/* home.component.scss */

* {
  box-sizing: border-box;
}
.keyword-search{
  display: flex;
  align-items: center;
  justify-content: center;
}


.home-page,
.article-card,
.hot-articles-container,
.topic-articles-section,
.banner {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.home-page {
  background-size: cover;
  display: flex;
  padding: 20px;
  margin: 0 auto;
  max-width: 1400px;
  opacity: 0;
  transform: translateY(20px);
  margin-bottom: 40px;

  &.loaded {
    opacity: 1;
    transform: translateY(0);
  }
}

.left-section {
  flex: 1;
  padding: 20px;

  .article-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(200px, auto));
    gap: 16px;

    a {
      text-decoration: none;
    }

    .big-article-card {
      grid-column: span 2;
      grid-row: span 2;
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      overflow: hidden;
      color: var(--primary-color);
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      }

      .big-card-content {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;


        h3 {
          margin-top: 10px;
          font-size: 1.8rem;
          text-align: center;
          color: var(--primary-color);
          font-family: var(--font-pixel);
        }

        p {
          margin-top: 5px;
          font-size: 1rem;
          color: var(--text-color);
          text-align: center;
          font-family: var(--font-secondary);

        }
      }
      .big-article-image {
        width: 100%;
        max-height: 450px;  // Set a maximum height
        object-fit: cover;  // Maintain aspect ratio while covering the container
        object-position: center;
        border-radius: 8px;
      }

    }

    .small-article-card {
      border-radius: 8px;
      overflow: hidden;
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      }

      .small-card-content {
        padding: 10px;

        h3 {
          font-size: 1.0rem;
          color: var(--primary-color);
          font-family: var(--font-pixel);
        }

        p {
          font-size: 0.8rem;
          margin-top: 5px;
          color: var(--text-color);
          font-family: var(--font-secondary);
        }
      }
      .small-article-image {
        width: 100%;         // Ensure it takes full width of the container
        max-height: 200px;   // Limit the height to prevent overly tall images
        object-fit: cover;   // Ensure the image covers the container
        object-position: center;
        border-radius: 8px;
      }
    }
  }
}

.right-section {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  max-height: 60%;
  border-radius: 8px;
  margin-top: 20px;
  text-align: left;

  h2 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 8px;
    font-family: var(--font-pixel);
    background-color: var(--message-back);
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
  }
  p{
  color: var(--text-color-oppo);
  }
}

.article-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
}

.article-card {
  flex: 1;
  border-bottom: 3px groove lightgray;
  border-right: 2px groove lightgray;
  border: 1px gray solid;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--dark-d);
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    transform: scale(.9999);
  }

  h3 {
    font-size: 0.9rem;
    color: var(--primary-color)
  }

  p {
    font-size: 0.7rem;
    font-family: var(--font-secondary);
    color: white;
  }
}

/* Top Articles Container */
.hot-articles-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;

}

/* Banner Section */
.banner {
  background: url('https://images.unsplash.com/photo-1568027762272-e4da8b386fe9?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8aGFja2VyfGVufDB8fDB8fHww') no-repeat center center;
  background-size: cover;
  margin-top: 20px;
  border-top: 4px var(--primary-color) solid;
  border-bottom: 4px var(--primary-color) solid;
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;

  .banner-content {
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    margin-right: 20px;
    background:
      radial-gradient(circle at 20% 30%, rgba(173, 216, 230, 0.8), transparent 90%),
      radial-gradient(circle at 80% 40%, rgba(144, 238, 144, 0.7), transparent 55%),
      radial-gradient(circle at 60% 70%, rgba(135, 206, 250, 0.7), transparent 50%),
      radial-gradient(circle at 30% 80%, rgba(152, 251, 152, 0.6), transparent 90%),
      radial-gradient(circle at 70% 90%, rgba(0, 255, 255, 0.7), transparent 55%),
      radial-gradient(circle at 50% 20%, rgba(240, 255, 255, 0.8), transparent 50%);

      background-blend-mode: screen;
      background-size: 300% 300%;
      backdrop-filter: blur(2px);
      animation: gradientAnimation 6s ease infinite, breathingEffect 8s ease-in-out infinite;
      color: white;
      transition: color 0.3s ease;

    h2 {
      font-size: 1.8rem;
      color: green;
      margin-bottom: 10px;
      font-weight: 800;

      font-family: var(--font-pixel);
    }

    p {
      font-size: 0.9rem;
      color: black;
      margin-bottom: 15px;
      font-family: var(--font-secondary);

    }

    .banner-form {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-size: 1.2rem;
        font-family: var(--font-pixel);
        color: green;
        margin-bottom: 10px;
      }
      p {
        font-size: 0.9rem;
        color: black;
        margin-bottom: 15px;
        font-family: var(--font-secondary);
      }

      form {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        align-items: center;

        input {
          padding: 8px;
          border-radius: 5px;
          width: 100%;
          max-width: 80%;
          border: 1px solid #ddd;
        }

        button {
          background-color: var(--primary-color);
          color: var(--text-color-oppo);
          border: none;
          width: 100%;
          max-width: 30%;
          padding: 8px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: var(--hover);
          }
        }
      }
    }
  }
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    20% { background-position: 25% 75%; }
    40% { background-position: 50% 25%; }
    60% { background-position: 75% 50%; }
    80% { background-position: 100% 75%; }
    100% { background-position: 0% 50%; }
  }

  @keyframes breathingEffect {
    0% { background-position: 0% 0%; }
    25% { background-position: 50% 50%; }
    50% { background-position: 100% 100%; }
    75% { background-position: 50% 100%; }
    100% { background-position: 0% 0%; }
  }

  @keyframes textColorAnimation {
    0%, 100% { color: white; }
    20%, 80% { color: black; }
    40% { color: rgba(240, 255, 255, 0.8); }
    60% { color: black; }
  }


  @media(max-width: 789px){
    .banner{
      height: 50vh;
    }
    .banner-content{
      margin-right: 0;
      width: 100%;
    }
  }
}

/* Topic Articles Section */
.topic-articles-section {
  background-color: var(--background-color);
  padding: 40px 20px;

  .topic-articles-header {
    margin-bottom: 30px;
    text-align: center;

    .section-title {
      font-size: 2.5rem;
      color: var(--primary-color);
      margin-bottom: 10px;
      font-family: var(--font-pixel);
      font-weight: 400;
    }

    .section-description {
      font-size: 1rem;
      color: var(--text-color);
      max-width: 800px;
      margin: 0 auto;
    }
  }

  .topic-articles-content {
    text-align: center;

    .main-heading {
      font-size: 1.2rem;
      color: var(--primary-color);
      margin-bottom: 10px;
      font-family: var(--font-pixel);
    }

    .main-description {
      font-size: 1rem;
      color: var(--text-color);
      line-height: 1.6;
    }
  }
  .topic-articles-cards {

    padding: 15px;
    overflow-x: auto;
    overflow-y: hidden;

    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    align-items: stretch;
    max-height: 300px;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--primary-color);
      border-radius: 10px;
    }

    .card {
      min-width: 250px;
      max-width: 30%;
      min-height: 250px;
      display: flex;
      flex-direction: column;
      padding: 14px;
      text-align: start;
      height: 100%;
      background: var(--message-back);
      border-radius: 8px;
      color: var(--text-color);
      border: 1px groove var(--text-color);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;


      .card-title {
        font-family: var(--font-pixel);
        font-size: 1.2rem;
        color: var(--primary-color);
      }

      @mixin line-clamp($lines) {
        display: -webkit-box;                     // Required for WebKit-based browsers
        -webkit-box-orient: vertical;             // Required for WebKit-based browsers
        -webkit-line-clamp: $lines;               // Limits to the specified number of lines
        overflow: hidden;                          // Hides overflow text
        text-overflow: ellipsis;                  // Displays ellipsis
    }

    // Usage
    .card-description {
        font-size: 0.8rem;
        font-family: var(--font-secondary);
        line-height: 1.6em;                       // Set line height
        max-height: (1.6em * 2);                   // Adjust based on line height and number of lines
        @include line-clamp(2);                   // Apply the line-clamp mixin
    }


      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      }

      a {
        display: inline-block;
        position: absolute;
        margin-top: 0px;
        bottom: 5px;
        left: 5px;
        height: 42px;
        max-width: 100%;
        padding: 10px 20px;
        font-size: 0.9rem;
        background-color: var(--primary-color);
        color: var(--text-color-oppo);
        border-bottom: 3px solid var(--text-color-oppo);
        border-right: 3px solid var(--text-color-oppo);
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        outline: none;
        transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, border 0.2s ease-in-out;
      }

      a:hover {
        background-color: var(--hover);
        color: var(--text-color-oppo);
        border-top: 1px solid var(--hover);
        border-left: 1px solid var(--hover);
        border-bottom: 0.5px solid var(--text-color-oppo);
        border-right: 0.5px solid var(--text-color-oppo);
      }

      img {
        height: 150px;
        width: 100%;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
      }

      h3 {
        font-family: var(--font-pixel);
        color: var(--primary-color);
        padding: 10px;
        font-size: 1.4rem;
      }

      p {
        padding: 0 10px 10px 10px;
        font-size: 1rem;
        color: var(--text-color);
      }
    }
  }

}
  .main-description{
      margin-bottom: 40px;
  }


@media (max-width: 1200px) {

  .home-page {
    flex-direction: column;
    padding: 10px;
    align-items: center;
    will-change: opacity, transform;
  }

  .left-section {
    flex: 1 0 60%;
    padding: 10px;
    .article-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); // Create a 2-column grid
      grid-template-rows: repeat(2, auto); // Allow for auto row height
      gap: 16px; // Space between items

      a {
        text-decoration: none;
      }

      .big-article-card {
        width: 100%;
        border-radius: 8px;
        padding: 16px;
      }

      .small-article-card {
        width: 100%;
        border-radius: 8px;
        padding: 10px;
      }
    }
  }

  .right-section {
    max-width: 80%;
    margin-top: 20px; // Add margin for separation
    align-items: center;
    justify-content: center;
    .hot-articles-container {
      padding: 10px; // Adjust padding for mobile
      width: 80%;
      .article-cards {
        flex-direction: column; // Stack article cards vertically
        gap: 10px; // Space between article cards

        .article-card {
          display: flex;
          padding: 10px; // Adjust padding for smaller screens
          border: 1px solid #e0e0e0; // Optional border
          border-radius: 8px; // Rounded corners
          background-color: #ffffff; // Background color
        }
      }
    }
  }

  .banner {
      margin-top: 20px;
    height: 80vh; // Adjust height for tablet
    padding: 10px; // Reduce padding in banner
    justify-content: center;
    margin-right: 0;
    .banner-form{
      max-height: 40%;
    }
    form button{
      font-size: 12px;
    }
    form input{
      font-size: 12px;
    }
  }

  .topic-articles-section {
    padding: 10px; // Adjust padding for mobile
    margin-top: 50px;
    align-items: center;
   justify-content: center;

    .topic-articles-cards {
      display: flex; // Enable flexbox for card layout
      flex-direction: column; // Stack topic article cards vertically on smaller screens
      overflow-x: hidden;
      overflow-y: auto;
      justify-content: flex-start;
      flex-wrap: nowrap;
      gap: 8px; // Space between cards

      @media (min-width: 789px) { // Styles for screens above 576px
        flex-direction: row; // Arrange cards in a row
        flex-wrap: wrap; // Allow wrapping to next line if needed

        .card {
          margin-top: 10px;
          width: calc(66% - 10px); // 3 cards per row, accounting for gap
          max-width: 100%;
          height: 200px; // Fixed height for square shape
          margin: 0 5px; // Horizontal spacing between cards
        }
      }

      @media (max-width: 576px) { // Styles for screens up to 576px
        .card {
          width: 100%; // Full width for each card on mobile
          height: auto; // Fixed height for square shape
          text-overflow: ellipsis;
        }
      }

      .card {
        border-radius: 8px; // Rounded corners
        padding: 12px; // Padding inside the card
        height: auto;
        background-color: var(--message-back); // Background color
        display: flex; // Flexbox for content alignment
        flex-direction: column; // Vertical alignment of content
        justify-content: space-between; // Space between title and content
        max-width: 100%;


        a {
          display: inline-block;
          position: relative;
          margin-top: 0px;
          height: 42px;
          max-width: 100%;
          padding: 10px 20px;
          font-size: 0.9rem;
          background-color: var(--primary-color);
          color: var(--text-color-oppo);
          border-bottom: 3px solid var(--text-color-oppo);
          border-right: 3px solid var(--text-color-oppo);
          border-radius: 5px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          outline: none;
          transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, border 0.2s ease-in-out;
        }

        a:hover {
          background-color: var(--hover);
          color: var(--text-color-oppo);
          border-top: 1px solid var(--hover);
          border-left: 1px solid var(--hover);
          border-bottom: 0.5px solid var(--text-color-oppo);
          border-right: 0.5px solid var(--text-color-oppo);
        }
        // Inner content styling
        .card-title {
          font-size: 1.2rem; // Title size
          color: var(--primary-color); // Theme color
          margin-bottom: 10px; // Space below title
          text-overflow: ellipsis;
        }

        .card-description {
          font-size: 0.9rem; // Description size
          color: var(--text-color); // Theme text color
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

}

/* Styles for screens up to 576px */
@media (max-width: 600px) {
  .home-page {
    flex-direction: column; // Stack left and right sections vertically
    padding: 10px; // Reduce padding for smaller screens
  }

  .left-section {
    width: 100%; // Full width for left section
    padding: 10px; // Adjust padding for mobile
    .article-grid {
      display: flex;
      flex-direction: column; // Stack articles vertically
      gap: 10px; // Space between articles

      a {
        text-decoration: none; // Remove underline from links
      }

      .big-article-card {
        width: 100%; // Full width for big article card
        border-radius: 8px; // Rounded corners
        padding: 16px; // Padding inside the card
      }
      .small-article-card {
        width: 100%; // Full width for small article cards
        border-radius: 8px; // Rounded corners
        padding: 10px; // Padding inside the card
      }
    }
  }

  .right-section {
    width: 100%; // Full width for right section
    margin-top: 20px; // Add margin for separation
    .hot-articles-container {
      padding: 8px; // Adjust padding for mobile
      .article-cards {
        flex-direction: column; // Stack article cards vertically
        gap: 8px; // Space between article cards

        .article-card {
          flex: 1 1 100%; // Full width for each article card
          padding: 10px; // Adjust padding for smaller screens
          border: 1px solid #e0e0e0; // Optional border
          border-radius: 8px; // Rounded corners
          background-color: #ffffff; // Background color
        }
      }
    }
  }

  .banner {
    height: 80vh; // Adjust height for mobile
    padding: 10px; // Reduce padding in banner
  }

  .topic-articles-section {
    padding: 10px; // Adjust padding for mobile
    justify-content: center;

    .topic-articles-cards {
      display: flex; // Enable flexbox for card layout
      flex-direction: column; // Stack topic article cards vertically on smaller screens
      overflow-x: hidden;
      overflow-y: auto;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      gap: 8px; // Space between cards

      @media (min-width: 577px) { // Styles for screens above 576px
        flex-direction: row; // Arrange cards in a row
        flex-wrap: wrap; // Allow wrapping to next line if needed
        width: 40%;


        .card {
          width: calc(33.33% - 10px); // 3 cards per row, accounting for gap
          height: 200px; // Fixed height for square shape
          margin: 0 5px; // Horizontal spacing between cards
          max-width: 100%;
          top:0;
          h3{
            font-size: xx-large;
          }

        }
      }

      @media (max-width: 576px) { // Styles for screens up to 576px
        .card {
          width: 100%; // Full width for each card on mobile
          height: 200px; // Fixed height for square shape
        }
      }

      .card {
        border: 1px solid #e0e0e0; // Optional border
        border-radius: 8px; // Rounded corners
        padding: 12px; // Padding inside the card
        background-color: var(--message-back); // Background color
        display: flex; // Flexbox for content alignment
        flex-direction: column; // Vertical alignment of content
        max-width: 100%;
        justify-content: space-between; // Space between title and content

        card-title {
          font-family: var(--font-pixel);
        }

        a {
          display: inline-block;
          position: relative;
          margin-top: 0px;
          height: 42px;
          max-width: 100%;
          padding: 10px 20px;
          font-size: 0.9rem;
          background-color: var(--primary-color);
          color: var(--text-color-oppo);
          border-bottom: 3px solid var(--text-color-oppo);
          border-right: 3px solid var(--text-color-oppo);
          border-radius: 5px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          outline: none;
          transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, border 0.2s ease-in-out;
        }

        a:hover {
          background-color: var(--hover);
          color: var(--text-color-oppo);
          border-top: 1px solid var(--hover);
          border-left: 1px solid var(--hover);
          border-bottom: 0.5px solid var(--text-color-oppo);
          border-right: 0.5px solid var(--text-color-oppo);
        }
        // Inner content styling
        .card-title {
          font-size: 1.2rem; // Title size
          color: var(--primary-color); // Theme color
          margin-bottom: 10px; // Space below title
        }

        .card-description {
          font-size: 0.9rem; // Description size
          color: var(--text-color); // Theme text color
          text-overflow: ellipsis;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

}
/* Skeleton Loader Styles */
.skeleton {
  background: #f0f0f0;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: shimmer 1.5s infinite;
  background: linear-gradient( 90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100% );
  transform: translateX(-100%);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-image {
  width: 100%;
  height: 200px;
  background-color: #e0e0e0;
}

.skeleton-title {
  height: 24px;
  width: 60%;
  margin-bottom: 10px;
  background-color: #e0e0e0;
}

.skeleton-text {
  height: 16px;
  width: 100%;
  margin-bottom: 8px;
  background-color: #e0e0e0;
}


